// Define variables for your color scheme

// For example:
$purple: rgb(136, 46, 252);
$purple-font:rgb(112,46,252);
$purple-background: rgb(229,220,255);
$blue: rgb(118, 161, 244);
$black: rgb(24, 0, 41);
$light-gray: rgb(235,232,242);
$dark-gray: rgb(125,123,126);
$white: #ffff;
$gradient-background: linear-gradient(to top, $purple, $blue);
