// Import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');// Define fonts for body and headers
$font-family: 'Karla', sans-serif;

$font-weight-bold: 700;

$font-weight-regular: 400;

$font-weight-light: 200;
