.dashboard {
  margin-top: 88px;
  .wrapper-head {
    margin-bottom: 12px;
    .row {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      h1 {
        padding-bottom: 24px;
      }
    }
  }

  .wrapper-main {
    margin-bottom: 42px;

    h2 {
      padding-bottom: 12px;
    }
  }
}
