.new-loan {
  height: 100vh;
  h1 {
    color: $dark-gray;
    font-weight: $font-weight-light !important;
  }

  .flex {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-grow: 1;

    .flex-selectors {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      justify-content: space-between;
      margin: 20px 0px;

      .purple-background {
        background: $purple-background !important;
      }

      .banana {
        float: left;
        margin: 0 5px 0 0;
        width: 100px;
        height: 40px;
        position: relative;
      }

      .banana label,
      .banana input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        padding-top: 7px;
      }

      .banana input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
      }

      .banana input[type="radio"]:checked + label {
        background: $purple;
        border-radius: inherit;
        color: $white;
      }

      .banana label {
        cursor: pointer;
        z-index: 90;
        line-height: 1.8em;
        background: $purple-background;
        border-radius: inherit;
      }

      .selector {
        width: fit-content;
        margin-top: 10px;

        .simple_form, .loan_amount {
          width: 242px !important;
          height: 44px;
        }
      }
    }

    .simple_form {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;

      .form-label, .title {
        margin: 10px 0px;
      }

      .select {
        display: flex;
        flex-flow: column;
        color: $dark-gray;
      }

      .form-control {
        min-width: 100%;
      }

      .form-select, .form-control {
        border: 1px solid $light-gray;
        height: 40px;
        align-content: center;
        padding-top: 10px;
        padding-left: 10px;
        &:focus-within {
          outline: none;
      }
    }

    option {
      color: $dark-gray;
    }

    .button{
      margin-top: 20px;
    }

    .input {
      .form-label {
        color: $dark-gray;
        margin: 10px 0px;
      }
      .form-control {
        margin-top: 10px;
      }
    }

    .margin-bottom {
      .form-select {
        margin-bottom: 10px;
      }
    }
  }
 }
}
