.container.new-loan {
 padding-bottom: 103px !important;
 position: relative;
  h1 {
    color: $dark-gray;
    font-weight: $font-weight-light !important;
  }

  .flex {
    display: flex;
    flex-flow: column;

    .flex-selectors {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 20px 0px;

      .select-input {
        border-radius: 20px;
        background: $purple-background !important;
        flex: 2 1 0px;
        max-width: 100%;

      }

      .numeric {
        height: 44px;
        border-radius: 20px;
        text-align: center;
        background: $light-gray;
        color: $purple-font;
        padding-bottom: 10px;
        text-transform: capitalize;
        font-weight: $font-weight-regular;
        max-width: 100%;
        border: none;
      }

      .colors {
        background-color: $light-gray !important;
        color: $purple-font !important;
      }

      .radio-botton {
        // float: left;
        min-width: 100px;
        height: 40px;
        position: relative;
        flex:1 1 0px;

        label, input {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          padding-top: 7px;
        }

        input[type="radio"] {
          opacity: 0.011;
          z-index: 100;
        }

        input[type="radio"]:checked + label {
          background: $purple;
          border-radius: inherit;
          color: $white;
        }

        label {
          cursor: pointer;
          z-index: 90;
          line-height: 1.8em;
          background: $purple-background;
          border-radius: inherit;
        }
      }

      .selector {
        width: fit-content;
        margin-top: 10px;

        .simple_form, .loan_amount {
          height: 44px;        }
      }
      form {
        .input, .dropdown {
          color: $black;
          margin-top: 10px;

        }
      }
    }

    .simple_form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #loan_interest_rate {
        border-radius: 0px !important;
        color: $black;
        text-align: left;
      }

      .form-label, .title {
        margin: 10px 0px;
        color: $black !important;
      }

      .select {
        display: flex;
        flex-flow: column;
        color: $dark-gray;
      }

      .form-control {
        min-width: 100%;
      }

      .form-select, .form-control {
        border: 1px solid $light-gray;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;
        background-color: transparent !important;
        &:focus-within {
          outline: none;
      }
    }

    option {
      color: $dark-gray;
    }

    .btn{
        position: absolute;
        bottom: 0px;
        height: 43px;
        width: 100%;
      }


    .input {
      .form-label {
        color: $dark-gray;
        margin: 10px 0px;
      }

      .form-control {
        margin-top: 10px;
      }
    }

    .margin-bottom {
      .form-select {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
 }
}
