.portfolio {
  .margin-t-b {
    margin: 20px 0px;

    .border {
      border-radius: 10px;
      border: solid 1px $light-gray;
      padding: 20px;
    }
  }

  p {
    margin-bottom: 10px;
    color: $dark-gray !important;
  }

  .margin-b {
    margin-bottom: 40px;
  }
}
