.session-new {
  padding-top: 50px;
  position: relative;
  background: $light-gray;
  margin: 0px !important;
  padding: 0px !important;

  width: 100%;
  align-items: center;

  .back-navigation {
    justify-self: left;
    position: absolute;
    left: 20px;
  }
  .wrapper {
    width: 80vw;
    background: white;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: 150px;
    box-shadow: rgba(90, 63, 64,0.2) 0 0px 4px;

    a{
      text-decoration:underline;
      color: $dark-gray;
    }

  }

  .form-text {
    color: $dark-gray;
    font-size: 12px;
  }

  h2 {
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
  }

  form {
    padding: 20 0 20 0;
    margin-bottom: 20px;

  }

  input {
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid $light-gray;

    &:focus {
      outline:none
    }
    &.btn {
      height: 43px;
    }
  }

  .form-inputs {
    padding-top: 20px;
    .mb-3 {
      padding-bottom: 20px;
      display: flex;
      flex-flow: column;
    }

    fieldset {
      margin-bottom: 20px;
      border: none;
      display: row;
      gap: 10px;
      flex-flow: column;
      .form-check-input {
        margin-right: 10px;
      }
    }

  }

  // .btn {
  //   position: absolute;
  //   bottom: 20px;
  // }

}
