.summary-pages {
  min-height: 100vh;
  position: relative;

  .btn {
    position: absolute;
    bottom: 0px ;
  }

  .margin-t-b {
    margin-top: 10px;
    margin-bottom: 40px;
  }


  .wrapper-test {
    min-height: 100%;
    display: flex;
    flex-flow: column;
  }

  .padding {
    padding-top: 128px;
  }
}
