.summary-pages {
  position: relative;

  .btn {
    position: absolute;
    bottom: 0px ;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .margin-t-b {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .padding {
    padding-top: 128px;
  }

  .padding-bottom {
    padding-bottom: 20px;
  }
}
