.wallet-show {

  .back-navigation {
    padding-top: 73px;
    padding-bottom: 20px;
  }
  .align-title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    p {
      padding-top: 4px;
      text-decoration: underline;
      a{
        color: $dark-gray;
      }

    }
  }

  .align-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  .display-card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }

  .card-loan {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
    margin-right: 10px;
    width:auto;
  }
  .display-card-item-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    h2 {
      font-size:16px;
      padding-bottom: 8px;
    }
  }

  p.small {
    font-size: 14px;
    font-style: italic;
  }

  .transaction-status {
    height: 33px;
    border-radius: 25px;
    width: 97px;
    background: $light-gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .red-transaction {
    color:$red;
  }

  .green-transaction {
    color: $green;
  }

  .pending-transaction {
    color: $dark-gray;
  }
}
