<%= link_to loans_path do %>
    <div class="btn-dashboard-cta">
      <%= image_tag "icon-search.svg", class: "icon" %>
      <div class="wrapper">
        <p>Search<p>
        <p class="description">Search for new Loan</p>
      </div>
      <%= image_tag "arrow-right.svg", class: "icon icon__arrow" %>
    </div>
  <% end %>
