<%= link_to new_loan_path do %>
    <div class="btn-dashboard-cta">
      <%= image_tag "icon-create.svg", class: "icon" %>
      <div class="wrapper">
        <p>Create<p>
        <p class="description">Create new Loan</p>
      </div>
      <%= image_tag "arrow-right.svg", class: "icon__arrow" %>
    </div>
  <% end %>
