<div class="card-request-approval">
  <h1>Request from <span class="purple-text"><%= loan.amount.to_i %> € Loan</span> for <%= loan.loan_category %></h1>
<% if loan.user.photo.attached? %>
  <%= cl_image_tag loan.user.photo.key, class: "avatar avatar__large" %>
<% else %>
  <%= image_to "avatar-icon.png", class: "avatar, avatar__large" %>
<% end %>
</div>
