
<div class="container test">
<h1>H1 Main titlePages#home </h1>
<h2>H2 Secondary title</h2>
<h1 class = "font-weight-light">H1 light </h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div style="background: $gradient-background;height:200px; width: 100%"></div>
</div>
