
<div class="home ">
<div class="navbar">
  <div class="wrapper-nav">
  <%= image_tag "logo.png" %>
  <%= button_to "Login", new_user_session_path, method: :get, class: "btn" %>
  </div>
</div>
<div class="hero">
  <div class="titel">
    <h1>BE THE</h1>
    <h1 class= "h1-bank">BANK</h1>
  </div>
    <p>Start earning passive income by funding personal loans.</p>
    <%= link_to "Start funding ›", new_user_session_path, method: :get %>
</div>
<div class="main">
  <div class="content">
    <h1>You invest</h1>
    <p>You choose which loan and how much, as little as 10€</p>
  </div>
  <div class="content">
    <h1>You earn</h1>
    <p>Stop funding banks and start earning, with consistent short term returns.</p>
  </div>
  <div class="content">
    <h1>You connect</h1>
    <p>NNB directly connects to individuals with money to lend and individuals seeking loans.</p>
  </div>
</div>
</div>
