<div class="container">
  <div class="wallet">
    <h2>Your Wallet</h2>
    <h1>Wallet amount</h1>
    <%= render "shared/wallet-pages" %>
  </div>
  div.btn-dashbaord-cta

  <button>NEXT</button>
  <button class="btn-secondary">NEXT</button>


  <div class="btn-dashboard-cta">
    <%= image_tag "icon-create.svg", class: "icon__create" %>
    <div class="wrapper">
      <p>title<p>
      <p class="description">Subtitle</p>
    </div>
    <%= image_tag "arrow-right.svg", class: "icon__arrow" %>
  </div>




  <div class="icon__create"></div>
</div>
<%= render "shared/navbar" %>
