<div class="container">
  <div class="wallet">
    <h2>Your Wallet</h2>
    <h1>Wallet amount</h1>
    <%= render "shared/wallet-pages" %>
  </div>
  div.btn-dashbaord-cta

  <button>NEXT</button>
  <button class="btn-secondary">NEXT</button>

</div>
<%= render "shared/navbar" %>
