<div class="container">
  <div class="wallet">
    <h2>Your Wallet</h2>
    <h1>Wallet amount</h1>
    <%= render "shared/wallet-pages" %>
  </div>
  <%= render "shared/button_dashboard_cta_create" %>
</div>
