<div class="container dashboard">
   <div class="wrapper">
    <h1>Hello Johan</h1>
    <div class="avatar" ></div>
  </div>
  <p>Already invested in your and other people’s future today?</p>
  <div class="wallet">
    <h2>Your Wallet</h2>
    <h1>Wallet amount</h1>
    <%= render "shared/wallet-pages" %>
  </div>
  <%= render "shared/button_dashboard_cta_create" %>
</div>
