  <!-- Building the left arrow container which is a link that redirect towards-->
  <%# <%= render "shared/back_navigation", "path: wallet_path(@loan_request.loan_id)"  %>
    <!-- Page Container -->
<div class="container summary-pages">
    <!-- Adding the left arrow -->
<%= render "shared/back_navigation", path: ""  %>

    <!-- Ending the left arrow -->



      <!-- End Page Container -->
  </div>
