<%= render "shared/back_navigation", path: loans_path %>

<%# TITLE %>
<h1 class="light">Loan Description</h1>

<%# NOTICE BOX %>
<div class="wrapper-main">
  <h2>Overview</h2>
  <div class="notice-box notice-box__purple">
    <p>Your loan ist currently <span class="bold"><%= loan.status.downcase %></span>.
    <% if loan.status == "Pending" %>
      <span>It will not be listed until the loan amount # add more info an banking info here</span>
    <% elsif loan.status == "Listed" %>
      <span>It can be seen by potential borrowers.</span>
      <% if loan.instant_loan %>
        <span>As you set "Approval" to "Auto" the borrower request will be accepted automatically. The loan amount will be immediatly transferred to the borrower.</span>
      <% else %>
        <span>As you set the "Approval" to "Manual", borrower requests will not be accepted automatically. Instead they will be shown below and require you to accept or decline.</span>
      <% end %>
    <% elsif loan.status == "Active" %>
      <span>Congratulations, your money is working for you 💪 .<br>Why not chat to your borrower?</span>
    <% elsif loan.status == "Closed" %>
      <span></span>
    <% end %>
    </p>
  </div>

<%# LOAN SUMMARY %>
  <%= render "loans/show_basic_info", loan: loan %>
  <p class="gray-text">Please note this investment can only be claimed after the expect yield date is due. The interest rates are fixed and the loan has no collateral attached.</p>
</div>

<%# LOAN REQUESTS %>
<div class="wrapper-main">
  <%= render "loans/show_lender_loan_requests", loan: loan %>
</div>
