<div class="container">
  <h1 class="light">Payment Details</h1>
  <p>Not sure what you're looking for? See recommendations!</p>
  <div data-controller="search-loans">
    <%= form_with(url:loans_path, method: "get",
    data: {search_loans_target: "form"}) do |f| %>
      <p><label><strong>How Much?</strong></label></p>
      <input type="range"
              min="0"
              max="1000"
              step="10"
              value="<%= params ? params[:amount] : 500 %>"
              class="slider"
              data-action="input->search-loans#updateAmount"
              data-target="search-loans.amountSlider"
              name="amount">
      <div data-target="search-loans.amountShow"></div>
      <p><%= f.submit %></p>
    <% end %>
    <div data-search-loans-target="list">
      <%= render "loans", loans: @loans %>
    </div>
  </div>
</div>
