<div class="container summary-pages loan-show">
  <% if current_user.user_type == "Lender" %>
    <%= render "loans/show_lender", loan: @loan %>
  <% elsif current_user.user_type == "Borrower" %>
    <%= render "loans/show_borrower", loan: @loan %>
  <% elsif current_user.nil? %>
    <%= render "loans/show_public", loan: @loan %>
  <% end %>
</div>
