<div class="container summary-pages loan-show">
  <% if current_user.nil? %>
    <%= render "loans/show_borrower", loan: @loan %>
  <% else %>
    <% if current_user.user_type == "Lender" %>
      <%= render "loans/show_lender", loan: @loan %>
    <% else %>
      <%= render "loans/show_borrower", loan: @loan %>
    <% end %>
  <% end %>
</div>
