#flash {
  position: fixed;
  bottom: 0;
  z-index: 100;

}

#alert {
  z-index: 150;
  height: 100vh;
  width: 100vh;
  background: rgba(0,0,0,0.1)
}

.alert {
  position: fixed;
  z-index: 200;
  bottom: 0;

  transform: translateY(calc(100%));

  padding: 60px;
  padding-block-start: 100px;
  line-height: 1.8;
  border-radius:20px 20px 0 0;
  height: 50vh;

  display: flex;
  flex-flow: column;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.55);


  button {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: $black;

  }

  &__success {
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(7px);
  }
}

@keyframes slideUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

.alert {
  animation: slideUp 1s ease forwards;
}

/* added to show how to hide with a click */
@keyframes slideDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

.alert.hideMe {
  animation: slideDown 1s ease forwards;
}
