.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  width: 85px;
  text-align: center;
  border-radius: 5px;
  padding: 8px 8px;
  background-color: $light-gray;
  // color: $purple-font;
  // border: 1px solid $purple;
  margin-right: 8px;
  margin-bottom: 6px;
}

.tag-selector:checked + label {
  background-color: $purple;
  color: $white;
}
