.btn {

  width: 100%;
  padding: 14px 0;
  border-radius: 5px;
  display: block;

  background: $purple;
  color: $white;

  text-transform: capitalize;
  font-weight: $font-weight-bold;
  max-width: 100%;
  border: none;

  &__secondary {
    border: 1px solid $purple;
    background: $white;
    color: $purple-font;
  }

}

a.btn {
  color: $white !important;
}
