
input.category-selector {
  position: relative;
  top: 43px;
  right: -28px;
  opacity: 0;
  transform: scale(4);
  width: 374px;



  .category-item & {
  }

}

.category-selector:checked + label {
  background-color: $light-gray
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 15px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  height: 90px;

    img {
      width:40px;
    }
}
