

.category-selector {
  position: absolute;
  transform: scale(0);
}

.image {
 width: 60px;
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 15px 15px 15px 15px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;

 .bank_details {
  margin-left: 10px;
 }
}

.category-selector:checked + label {
  background-color: $light-gray
}
