.cards-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-loan {
  width: 100%;
  padding: 17px;
  flex-flow: column;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  margin-bottom: 12px;

  h1 {
    font-size: 16px;
    // font-weight: $font-weight-regular;
    padding-bottom: 10px;
  }

  .wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    p {
      font-size: 14px;
    }
    }

    .wrapper-title {

      display: flex;

      h1 {
        flex: 1 1 0px;
      }
      p {
        margin-top: 1px;
        font-size: 14px;
      }
    }
  }

.card-loan-search {
  border-radius: 5px;
  width: 100%;
  padding: 17px;
  display: flex;
  flex-flow: row;
  margin-bottom: 12px;
  border: solid 1px $light-gray;
  gap: 12px;

  h1 {
    font-size: 16px;
    // font-weight: $font-weight-regular;
    padding-bottom: 10px;
  }

  .wrapper {
    display: flex;
    flex-flow: column;
    flex: 1 1 0px;
    // justify-content: space-between;

    .wrapper-content {

      display: flex;
      justify-content: space-between;

      p {
        font-size: 14px;
      }

    }


  }

  img {
    height: 60px;
    width: 60px;
  }

}



// .card-basic {
//   height: 96px;
//   padding: 20px;
//   margin-bottom: 20px;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;

//   img {
//     height: 60px;
//     width: 60px;
//     margin-right: 20px;
//   }
// }
