
.card {
  width: 100%;
  padding: 17px;

  border-radius: 5px;
  border: solid 1px $light-gray;

  display: flex;
  flex-flow: row;
  align-items: center;


}

.card-loan {
  border-radius: 5px;
  padding: 20px 10px;
  border: 0.5px solid $light-gray;
  margin: 20px 0;

  .purple-text {
    color: $purple
  }

  .gray-text {
    color: $dark-gray
  }

  .wrapper-content {
    display: flex;
    justify-content: space-between;
  }

  img {
    height: 60px;
    width: 60px;
  }


}

.card-loan-borrower {

}

.card-content {
  display: flex;
  justify-content: space-between;
}

.text {
  text-decoration: none;
  color: $black;
}

.card-basic {
  height: 96px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }
}
