
.card-loan-lender {
  width: 100%;
  padding: 17px;
  flex-flow: column;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  margin-bottom: 12px;

  h1 {
    font-size: 16px;
    // font-weight: $font-weight-regular;
    padding-bottom: 10px;

    .purple-text {
      color: $purple-font
    }
  }

  .wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    p {
      font-size: 14px;

      &.description {
        color: $dark-gray;
      }
    }
    }
  }

.card-loan {
  border-radius: 5px;
  padding: 20px 10px;
  border: 0.5px solid $light-gray;
  margin: 20px 0;

  .purple-text {
    color: $purple
  }

  .gray-text {
    color: $dark-gray
  }

  .wrapper-content {
    display: flex;
    justify-content: space-between;
  }

  img {
    height: 60px;
    width: 60px;
  }


}


.card-content {
  display: flex;
  justify-content: space-between;
}

.text {
  text-decoration: none;
  color: $black;
}

.card-basic {
  height: 96px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }
}
