.list-box {
  margin: 20px 0;
  border-top: 1px solid $light-gray;

  .list-item {
    border-bottom: 1px solid $light-gray;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  .margin-b {
    margin-bottom: 30px;
  }
}
