.notice-box {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-flow: row;
  gap: 10px;

  &__purple {

  background-color: $purple-background;
  color: $purple-font;
  }

  p {
    font-size: 13px;
    line-height: 22px;

  }
}
