.notice-box {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-flow: row;
  gap: 10px;
  background-color: $light-gray;

  &__purple {

  background-color: $purple-background;
  color: $purple-font;
  }
}
