.select-button {
  width: 108px;
  height: 44px;
  border-radius: 20px;

  background: $purple-background;
  color: $purple-font;

  text-transform: capitalize;
  font-weight: $font-weight-regular;
  max-width: 100%;
  border: none;
}

.numeric {
  width: 242px;
  height: 44px;
  border-radius: 20px;

  background: transparent;
  color: $purple-font;

  text-transform: capitalize;
  font-weight: $font-weight-regular;
  max-width: 100%;
  border: none;
  text-align: center;
  padding-bottom: 7px;

  ::placeholder {
    color: $dark-gray;
  }
}
